@CHARSET "UTF-8";

	#imageReviewMain{
		overflow:hidden;
		margin:50px auto;
		width:90%;
		height:700px;
		background:#fff;
		border:1px solid #ccc;
	}
	#imageMoveMain{
		overflow:hidden;
		width:80%;
		height:700px;
		background:#000;
		box-sizing:border-box;
		display:inline-block;
	}
	#ReviewMain{
		overflow:hidden;
		width:19%;
		height:700px;
		background:#fff;
		box-sizing:border-box;
		display:inline-block;
	}
	#ReviewName{
		text-align:center;
		display:block;
		padding:5px 0;
		border-bottom:1px solid #ccc;
		font-family: sans-serif;
		font-size:0.8rem;
	}
	#ReviewId{
		display:block;
		height:50px;
		padding:5px 0px 0px 15px;
    	border:1px solid blue;
	}
	#ReviewIdName{
		font-family: sans-serif;
		font-size:0.8rem;
		display:inline-block;
		border:1px solid red;
	}
	#ReviewNum{
		background: url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/201610207…esktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
   		background-position: -954px -561px;
   		width: 9px;
    	height: 8px;
	}
	#ReviewIdImage{
		width:40px;
		height:40px;
		border-radius:50%;
	}
	#ReviewContent{
		display:block;
		height:500px;
		padding:0 15px;
	}
	#ReviewDate{
		display:block;
		padding:0 15px;
		height:10px;
	}
	#imageReviewButtonleft{
		position:relative;
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position:-935px 0px;
		width:28px;
		height:45px;
		opacity:0.5;
		margin-left:10px;
		top:40%;
		cursor:pointer;
	}
	#imageReviewButtonRight{
		position:relative;
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position:-935px -153px;
		width:28px;
		height:45px;
		opacity:0.5;
		margin-right:10px;
		top:35%;
		float:right;
		cursor:pointer;
	}
	
	#imageCenter{/*
		background-image:url('/resources/images/detailView_Image/imageCenter_1.jpg');
		background-repeat: no-repeat;
		background-size:auto 100%;
		background-position:center center;*/
		width:85%;
		height:80%;
		margin: -15px auto 40px auto;
		transition-property: opacity;
		transition-timing-function: linear;
		transition-duration: 0.3s;
		overflow:hidden;
	}
	
	#imageCenter #imageCenter_img{
		display:block;
		margin:0 auto;
		height:100%;
	}
	#imageBottom{
		height:66px;
		width:1500px;
		overflow:hidden;
	}
	.smallImage{
		background-image:url('/resources/images/detailView_Image/imageCenter_1.jpg');
		background-size:100% auto;
		background-position:center center;
		width:66px;
		height:66px;
		float:left;
		cursor:pointer;
		background:#000;
		opacity:0.5;
	}