@CHARSET "UTF-8";

	#imageReviewMain{
		overflow:hidden;
		margin:50px auto;
		width:90%;
		height:700px;
		background:#fff;
		border:1px solid #ccc;
		border-radius: 5px;
	}
	#imageMoveMain{
		overflow:hidden;
		width:80%;
		height:700px;
		background:#000;
		box-sizing:border-box;
		display:inline-block;
	}
	#ReviewMain{
		overflow:hidden;
		width:19%;
		height:700px;
		background:#fff;
		box-sizing:border-box;
		display:inline-block;
	}
	#ReviewName{
		text-align:center;
		display:block;
		padding:5px 0;
		border-bottom:1px solid #ccc;
		font-family: sans-serif;
		font-size:0.8rem;
	}
	#ReviewId{
		position:relative;
		display:block;
		height:50px;
		padding:5px 0px 0px 15px;
		padding-bottom:30px;
	}
	#ReviewIdImage{
		display:inline-block;
		width:40px;
		height:40px;
		border-radius:50%;
		margin-right:5px;
	}
	#ReviewIdName{
		font-family: sans-serif;
		font-size:0.8rem;
		padding-left:20px;
		padding-top:3px;
	}
	#ReviewNum{
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position: -954px -561px;
   		width: 9px;
    	height: 8px;
    	font-size: 0.625rem;
    	color:#ccc;
		display:inline-block;
		margin-left:1px;
		position:absolute;
	}
	#FollowerCount{
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position: -955px -526px;
		margin-left:28px;
   		width: 9px;
    	height: 8px;
    	font-size: 0.625rem;
    	color:#ccc;
		display:inline-block;
		position:absolute;
	}
	#ReivewIcon{
		background:url('/resources/images/min_image/good_on.png');
		background-size:40px;
		width:39px;
		height:39px;
		float:right;
		display:inline-block;
		margin-top:-5px;
    	margin-right:2px;    
	}
	#ReviewIconText{
		position:absolute;
		color: tomato;
  	  	font-size: 0.75rem;
    	margin-top: 40px;
    	margin-left:3px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    t                      t              t t t t t t t t  t t tt  tttttttttttttttttt                                   tt t tt t tt t t t t t t t tttt tt t t t tt t  t                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
	}
	#ReviewContent{
		display:block;
		height:500px;
		padding:0 15px;
		font-size: .85rem;
   		letter-spacing: .2px;
    	line-height: 1.2rem;
    	color: rgba(51,51,51,0.8);
	}
	#ReviewDate{
		display:block;
		padding:0 15px;
		height:10px;
    	font-size: .75rem;
    	color: #777;
	}
	#imageReviewButtonleft{
		position:relative;
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position:-935px 0px;
		width:28px;
		height:45px;
		opacity:0.5;
		margin-left:10px;
		top:40%;
		cursor:pointer;
	}
	#imageReviewButtonRight{
		position:relative;
		background:url('https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2016102073727sprites_desktop.png?fit=around|*:*&crop=*:*;*,*&output-format=png&output-quality=80');
		background-position:-935px -153px;
		width:28px;
		height:45px;
		opacity:0.5;
		margin-right:10px;
		top:35%;
		float:right;
		cursor:pointer;
	}
	
	#imageCenter{/*
		background-image:url('/resources/images/detailView_Image/imageCenter_1.jpg');
		background-repeat: no-repeat;
		background-size:auto 100%;
		background-position:center center;*/
		width:85%;
		height:80%;
		margin: -15px auto 40px auto;
		transition-property: opacity;
		transition-timing-function: linear;
		transition-duration: 0.3s;
		overflow:hidden;
	}
	
	#imageCenter #imageCenter_img{
		display:block;
		margin:0 auto;
		height:100%;
	}
	#imageBottom{
		height:66px;
		width:1500px;
		overflow:hidden;
	}
	.smallImage{
		background-image:url('/resources/images/detailView_Image/imageCenter_1.jpg');
		background-size:100% auto;
		background-position:center center;
		width:66px;
		height:66px;
		float:left;
		cursor:pointer;
		background:#000;
		opacity:0.5;
	}