@CHARSET "UTF-8";

@font-face{
	font-family:NanumGothic;
	src:url('http://youngkang.me/hangul-webfont-showcase/#/fonts/NanumGothic');
	font-weight:normal;
	font-style:normal;
}
#messageView{
	width:480px;
	height:550px;
	border-bottom:2px solid #dddddd;
}
#messageT{
	text-align:center;
	margin-bottom:20px;
}
#messageT>div{
	line-height:40px;
	margin-bottom:-5px;
}
#messageT>input{
	border:1px solid #dddddd;
	height:20px;
	text-align: center;
}
#messageT>textarea{
	border:1px solid #dddddd;
	text-align:justify;
}
#messageConfirmTitle{
	text-align:center;
	font-size:20px;	
	border-bottom:2px solid #dddddd;
	padding:10px 0px 10px 0px;
}
#messageCancell{
	width:49.4%;
	height:7%;
	border:3px solid #dddddd;
	box-sizing:border-box;
	text-align: center;
	display:inline-block;
	padding:1%;
	color:#dddddd;
	cursor: pointer;
}
#messageCancell:hover{
	width:49.4%;
	height:7%;
	border:3px solid tomato;
	box-sizing:border-box;
	text-align: center;
	display:inline-block;
	padding:1%;
	color:tomato;
	cursor: pointer;
}
