@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body{
	background-color:#ff8000;
	font-family:'Nanum Gothic Coding', serif;
	
}
select{
	font-size:15px;
	width:150px;
	font-family:Times;
}
#naver{
	color:green;
	background-color:white;
}
#daum{
	color:orange;
	background-color:black;
}
#yahoo{
	color:white;
	background-color:red;
}
#google{
	color:blue;
	background-color:yellow;
}
#my_reg_form{
	background-color:#ff9900;
	width:650px;
	height:550px;
	padding:50px;
	color:#ffffff;
	
}
#my_reg_form #mytable{
	background-color:#ffffff;
	padding:75px;
	border:0px;
	width:650px;
	color:black;
	font-type:'Nanum Gothic Coding', serif;
	
}
#my_reg_form #mytable #left{
	text-align:right;
	
}
#my_reg_form #user_id{
	width:270px;
}
#my_reg_from #user_email_check{
	border: 3px outset #E5E5E5;
}
#my_reg_form #user_retype_password{
	width:365px;
}
#my_reg_form #user_password{
	width:365px;
}
#my_reg_form #name{
	width:365px;
}
#my_reg_form #num{
	width:100px;
}
#my_reg_form #register, #my_reg_form #clear{
	background-color:#ff9900;
	color:"black";
	font-family:'Nanum Gothic Coding', serif;
	width:160px;
	height:30px;
	border: 3px outset #E5E5E5;
	font-size:15px;
}