<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerMapper">
	<select id = "memberList" resultType = "com.aloa.manage.MemberDTO">
		select * from account
	</select>
	<delete id = "memberRemove" parameterType = "int">
		delete from account where id = #{id}
	</delete>
	<select id ="restaurantList" resultType="com.aloa.restaurant.Restaurant">
		select * from restaurant
	</select>
	
	<delete id = "restaurantDelete" parameterType ="int">
		delete from restaurant where resNo = #{resno}
	</delete>
	
	<select id="restaurantInfo" parameterType="int" resultType="com.aloa.restaurant.Restaurant">
		select * from restaurant where resNo = #{resno}
	</select>
	
	<update id="restaurantUpdate" parameterType="com.aloa.restaurant.Restaurant">
		update restaurant set resName = #{resname} ,
							  bossEmail = #{bossemail},
							  resAddress = #{resaddress}, 
							  resTel = #{restel},
							  resKind = #{reskind},
							  resPrice = #{resprice},
							  resParking = #{resparking},
							  resSaletime = #{ressaletime}, 
							  resRest = #{resrest}, 
							  resHoliday = #{resholiday}
								where resNo = #{resno}
	</update>
	
	<select id= "checkId" parameterType="String" resultType="com.aloa.account.Account">
		select server, email from account where email=#{id}
	</select>
	
	<insert id="insertRestaurant" parameterType="java.util.Map">
		begin
			insert into restaurant (resNo,
									  resName ,
									  bossEmail ,
									  resAddress , 
									  resTel ,
									  resKind ,
									  resPrice ,
									  resParking ,
									  resSaletime , 
									  resRest , 
									  resHoliday,
									  createdate)
									  values(
									  	seq_restaurant.nextval
									  	,#{resname}
									  	,#{bossemail}
									  	,#{resaddress}
									  	,#{restel}
									  	,#{reskind}
									  	,#{resprice}
									  	,#{resparking}
									  	,#{ressaletime}
									  	,#{resrest}
									  	,#{resholiday}
									  	,sysdate);
			update account set server=1 where email=#{bossemail};
			insert into imageboard (resno, image) values(seq_restaurant.currval  , #{bossemail}||'_image_1');
			insert into imageboard (resno, image) values(seq_restaurant.currval  , #{bossemail}||'_image_2');
			insert into imageboard (resno, image) values(seq_restaurant.currval  , #{bossemail}||'_image_3');
			insert into imageboard (resno, image) values(seq_restaurant.currval  , #{bossemail}||'_image_4');
			insert into imageboard (resno, image) values(seq_restaurant.currval  , #{bossemail}||'_image_5');
		end;
	</insert>
	
	<select id = "memberBlackList" resultType = "com.aloa.manage.MemberDTO">
		select * from account where reportCount >= 3
	</select>

</mapper>