<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerMapper">
	<select id = "memberList" resultType = "com.aloa.manage.MemberDTO">
		select * from account
	</select>
	<delete id = "memberRemove" parameterType = "int">
		delete from account where id = #{id}
	</delete>
	<select id ="restaurantList" resultType="com.aloa.manage.RestaurantDTO">
		select * from restaurant
	</select>
	
	<select id = "memberBlackList" resultType = "com.aloa.manage.MemberDTO">
		select * from account where reportCount >= 3
	</select>

</mapper>