<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "reviewMapper">

	<insert id = "reviewInsert" parameterType = "com.aloa.review.Reviewboard">
		insert into reviewboard(reviewno
                ,email
                ,resno
                ,content
                ,createdate
                ,grade
                ,image) 
       	 values(seq_reviewno.nextval
       	 		,#{email}
       	 		,#{resno}
       	 		,#{content}
       	 		,sysdate
       	 		,#{grade}
       	 		,#{image})
	</insert>
	
	<select id="reviewList" parameterType="java.lang.Integer" resultType="com.aloa.review.Reviewboard">
		select * from reviewboard where resno=#{resno} 
	</select>
</mapper>